node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example
certs/*.pem
.vscode
.idea
*.log
release/
*.zip
public/*.zip
dist/*.zip
backend/uploads/*
!backend/uploads/.gitkeep
*.exe
cloudflared
release_zips/
scripts/bin/
